.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s linear;
}

.feynman__link:hover {
  opacity: .65;
}
